@mixin mobile {
    @media (max-width: 810px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 811px) {
        @content;
    }
}

.HomepageArticle {
    &_Botanical {
        position: relative;

        .Hero {
            width: 100%;
            height: 100%;

            z-index: 0;

            &-Heading {
                top: 33%;
            }
        }

        .Article-Text {
            z-index: 1;

            position: absolute;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);

            width: 50%;
            padding: 3% 5%;

            background-color: white;
        }
    }
}
